<div class="sizeclass">
<h1 class="title"> Random User Details</h1>
<div class="user-profile">
	<img id="avatar" src="{{posts.picture.thumbnail}}" />
    <div style="font-size: large;" id="fullname">{{posts.name.title}}.{{posts.name.first}} {{posts.name.last}}</div>
  <div style="font-size: large;" id="username">
  	dob: {{posts.dob.date}}<br>Age: {{posts.dob.age}}
  </div>
    <div style="font-size: large;" class="description">
      <div>Email: <p id="email" style="font-size: large;">{{posts.email}}</p></div>
      <div>City: <span style="font-size: large;" id="city">{{posts.location.city}}</span></div>
  </div>
  <div class="footer" style="cursor: pointer;" >
    <button class="btn btn-info" style="width: 400px; " (click)="nextuser()" >Next User!</button>
 </div>
<div>
<button class="btn btn-success" style="width: 300px; margin-left:15%">Save</button>
</div>
</div>
</div>